@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#store {
    flex-direction: column;
}
#parteSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
}
#parteSuperior button{ 
    background-color: #50b291;
    color: white;
    padding: 0.5rem;
    border: transparent;
    border-radius: 0.5rem;
    transition: 0.2s;
    &:hover{
        background-color: #3b846b;
    }
}
#store h2 {
    display: flex;
    justify-content: space-around;
}

#login {
    translate: 0rem 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem 1rem;
    & h2{
        margin: 0;
    }
    & input, button{
        padding: 0.5rem;
        margin: 0.5rem;
        width: 60%;
        box-sizing: border-box;
        border: solid 1px transparent;
        border-radius: 0.5rem;
    }
    & button{
        background-color: #50b291;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            color: white;
            background-color: #3b846b;
        }
    }
}

body h2 {
    color: #50b291;
    font-size: 2rem;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.card:hover .price {
    display: block;
}

.price {
    display: none;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-image: url(fondo.jpg);
    background-size: cover;
}

#productForm {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
}

#productForm input {
    width: 16.6%;
    font-size: 1rem;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #ffffff78;
    background: transparent;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
}

#productForm input::placeholder {
    color: white;
}

.agregarProducto button:hover {
    cursor: pointer;
}

.agregarProducto button {
    display: flex;
    align-items: center;
    color: white;
    height: 3rem;
    border: 1px transparent;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #50b291;
    transition: 0.2s;
    &:hover{
        background-color: #3b846b;
    }
}

.card {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0rem 1rem 2rem 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.card button {
    color: white;
    background-color: transparent;
    border: none;
    margin: 0.2rem 0rem;
}

.card button:hover {
    background-color: transparent;
    border: none;
}

#cart {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 1rem;
    border: 2px solid white;
    padding: 1rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#cart h2{
    color: white;
}
#productList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#cartItems{
    display: flex;
}
.cart-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 0rem 1.5rem;
    margin: 0.5rem 1rem;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cart button {
    border: transparent solid 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    transition: 0.2s;
}

#cart button:hover {
    border:transparent solid 1px;
    background: #3b846b;
    color: white;
}

.cart-item button {
    padding: 0.5rem;
    border: transparent;
    border-radius: 0.5rem;
}

.invoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.invoice h2 {
    color: black;
}

.invoice-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#buscador {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    
}

#buscador #searchProduct {
    color: white;
    display: flex;
    margin-top: 2rem;
    height: 2rem;
    width: 70%;
    margin-left: 15%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0rem 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#searchProduct::placeholder{
    color: white;
}

#register{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    translate: 0rem 50%;
    margin-left: 35%;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    & h2{
        margin: 0;
    }
    & input, button{
        padding: 0.5rem;
        margin: 0.5rem;
        width: 60%;
        box-sizing: border-box;
        border: solid 1px transparent;
        border-radius: 0.5rem;
    }
    & button{
        background-color: #50b291;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            color: white;
            background-color: #3b846b;
        }
    }
}
